<div id="results">
  <h2>Results:</h2>

  <h3>Planned Session Duration: <span id="planned-session-duration"></span></h3>
  <h3>Actual Session Duration: <span id="actual-session-duration"></span></h3>

  <h4>Summary</h4>
  <table id="behavior-results">
    <tr>
      <th>Behavior</th>
      <th>Frequency</th>
      <th>Rate</th>
    </tr>
  </table>

  <h4>All Responses Tracked</h4>
  <table id="all-responses">
    <tr>
      <th>Time</th>
      <th>Behavior</th>
    </tr>
  </table>
</div>
