<div class="" id="run-session">
  <div class="start">
    <p>Click 'Start' to begin session</p>
    <button class="button large" id="start-session-button"><i class="fa fa-play-circle"></i> Start</button>
  </div>
  <div class="end">
    <p>
      Click "End Session" to stop the session early.
    </p>
    <button class="button large alert" id="end-session-button"><i class="fa fa-stop-circle"></i> Stop Session</button>
  </div>

  <div class="session-info">
    <div class="row">
      <div class="columns small-6">
        <h3>Session Duration: <span id='session-duration'>300</span> secs</h3>
      </div>
      <div class="columns small-6">
        <h3>Current Time: <span id='current-session-time'>0</span> secs</h3>
      </div>
    </div>

    <h4>Behaviors:</h4>
    <p>
      Click on a behavior below or tap the corresponding key on the keyboard to track a behavior.
    </p>
    <div class="behaviors" id="session-behaviors"></div>
  </div>
</div>
